# put this in ~/gitconfig.d/identity
# [user]
#   name = Moritz Pein
#   email = moritz.pein@gmail.com
[include]
  path = ~/.gitconfig.d/identity
[commit]
  gpgSign = true
[push]
  default = current
  followTags = true
[alias]
  co = checkout
  ci = commit -S -v
  m = merge -S
[merge]
  ff = false
[pull]
  rebase = true
[core]
  excludesfile = ~/.gitignore_global
