# put this in ~/gitconfig.d/identity
# [user]
#   name = Moritz Pein
#   email = moritz.pein@gmail.com
[include]
  path = ~/.gitconfig.d/identity
[push]
  default = matching
[alias]
  co = checkout
[merge]
  ff = false
[pull]
  rebase = true
